{% extends "base.html" %}
{% block title %}Add to Collection{% endblock %}

{% block content %}
<br>
<h1>Add Book from Library to Your Collection</h1>

<div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<div>
    <p>Select a book from the list below to add it to your collection.</p>
    
</div>
<div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock content %}
