{% extends "base.html" %}
{% block title %}{{book.title}}{% endblock %}

{% block content %}
<br>
<h1>{{book.title}}</h1>
<div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<br>
<div>

</div>
{% if notes%}
<div class="card col-md-6">
    
        <ul class="list-group list-group-flush">
            {% for note in notes %}
                <li class="list-group-item">{{ note.added|date}} <br><a href="{% url 'note' note.id %}">{{ note.heading }}</a> - {{ note.text }} | <a href="{% url 'note_edit' note.user.username note.id %}">Edit</a> | <a href="{% url 'note_delete' note.id %}">Delete</a></li>
            {% endfor %}
        </ul>
</div>
{% endif %}

<br>

<div class="col-12">
    <a class="btn btn-success" role="button" href="{% url 'add-note' %}">New note</a>
</div>


    




{% endblock content %}href="{% url 'user-collection' %}