{% extends "base.html" %}
{% block title %}Home Page {% endblock %}


    <div class="container-fluid">
        {% block content %}
        <br>
        <h1>Home Page</h1>
        <br>
        <div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div>
            <form class="container-fluid" method="POST" action="{% url 'search-books' %}">
                {% csrf_token %}
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search for a Book by Title or Author" aria-label="Search" name="book_searched">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </form>
        </div>
        <br>
        <div>
            <ul>
                
                {% for book in books %}
                <li>{{ book.get_authors }} - {{ book.title }} - <a href="{% url 'add-collection' %}">Add to My Collection</a></li>
                {% endfor %}
                
            </ul>
            
        </div>
    
        
        <br>
        <hr>
    
        <div>
            {% if books.has_previous %}
                <a href="?page=1">&laquo; First | </a>
                <a href="?page={{ books.previous_page_number }}">Previous |</a>
            {% endif %}
    
            Page {{ books.number }} of {{ books.paginator.num_pages }}
    
            {% if books.has_next %}
                <a href="?page={{ books.next_page_number }}"> | Next</a>
                <a href="?page={{ books.paginator.num_pages }}"> | Last &raquo;</a>
            {% endif %}
        </div>
        {% endblock content %}
    </div>